@model BookShop.Shared.Interfaces.IBookViewModel

@{
    ViewData["Title"] = "Book Details";
}

<h1>Book Details</h1>
<div>
    <hr />
    <dl class="row">

        @Html.HiddenFor(m => m.Id)

        <dt class="col-4">
            @Html.DisplayNameFor(model => model.BookTitle)
        </dt>
        <dd class="col-8">
            @Html.DisplayFor(model => model.BookTitle)
        </dd>
        <dt class="col-4">
            @Html.DisplayNameFor(model => model.AuthorName)
        </dt>
        <dd class="col-8">
            @Html.DisplayFor(model => model.AuthorName)
        </dd>
        <dt class="col-4">
            @Html.DisplayNameFor(model => model.Genre)
        </dt>
        <dd class="col-8">
            @Html.DisplayFor(model => model.Genre)
        </dd>
        <dt class="col-4">
            @Html.DisplayNameFor(model => model.YearPublished)
        </dt>
        <dd class="col-8">
            @Html.DisplayFor(model => model.YearPublished)
        </dd>
        <dt class="col-4">
            @Html.DisplayNameFor(model => model.IsCheckedOut)
        </dt>
        <dd class="col-8">
            @Html.DisplayFor(model => model.IsCheckedOut)
        </dd>
    </dl>
</div>
<div>
    <button class="btn btn-sm btn-link" onclick="BookSpaNs.Books.editBook(@Model.Id)">Edit Book</button>
    <button class="btn btn-sm btn-link" onclick="BookSpaNs.Books.deleteBook(@Model.Id)">Delete Book</button>
</div>
